@inherits LayoutComponentBase

<PageTitle>BlazorApp14</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            <h1>Open AI デモ</h1>
            @Body
        </article>
    </main>
</div>
